.DS_Store

# IntelliJ / Android Studio
.idea/
*.iml
*.iws
*.iws.xml

# Visual Studio Code
.vscode/

# Flutter
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
pubspec.lock

# Android
android/app/build/
android/build/
android/gradlew
android/gradlew.bat
android/local.properties

# iOS
ios/Pods/
ios/Runner.xcworkspace/
ios/Podfile.lock

# Temporary files
.DS_Store
.dart_tool/flutter_build/
.dart_tool/package_config.json

# Package files
.package...
